.splash{
	background-color: #DB2C3B !important;
}
.logo{
	width: 100%;
}
.img-falla{
	width: 55%;
}
.img-falla-dos{
	width: 100%;
}
.img-falla-antena{
	margin-top: 10px !important;
	width: 90%;
}
.button{
	background-color: #9B2E35 !important;
	border-radius: 4px !important;
	margin-top: 10px !important;
}
fieldset{
	border-radius: 4px !important;
}
.form fieldset label{
	width: 30% !important;
}
.form fieldset input{
	width: 70% !important;
}

body > section > header{
	background-color: #DB2C3B !important;
	box-shadow: inset 0 -1px #9B2E35, 0 1px rgba(0,0,0,0.1) !important;
	-webkit-box-shadow: inset 0 -1px #9B2E35, 0 1px rgba(0,0,0,0.1) !important;
	-moz-box-shadow: inset 0 -1px #9B2E35, 0 1px rgba(0,0,0,0.1) !important;
	-ms-box-shadow: inset 0 -1px #9B2E35, 0 1px rgba(0,0,0,0.1) !important;
}
body > section > header > .title{
	text-shadow: 0 0.1em #9B2E35 !important;
	-webkit-text-shadow: 0 0.1em #9B2E35 !important;
	-moz-text-shadow: 0 0.1em #9B2E35 !important;
	-ms-text-shadow: 0 0.1em #9B2E35 !important;
	font-weight: bold;
}
section header > nav:not(.on-right) a, section header > nav:not(.on-right) button {
	color: #f4f4f4;
	-webkit-text-shadow: 0 0.1em #9B2E35 !important;
	-moz-text-shadow: 0 0.1em #9B2E35 !important;
	-ms-text-shadow: 0 0.1em #9B2E35 !important;
	-o-text-shadow: 0 0.1em #9B2E35 !important;
	text-shadow: 0 0.1em #9B2E35 !important;
}
h2,h3,h4{
	text-align: center;
	font-weight: bold;
	margin-top: .6em;
	margin-bottom: 1em;
}

p{
	text-align: justify;
	font-size: .9em;
	margin-bottom: 1em;
}
.principal{
	width: 100%;
	overflow: auto;
}
.menu-derecho{
	width: 48%;
	float: right;
}
.menu-izquierdo{
	width: 48%;
	float: left;
}
.principal > div > div > fieldset{
	padding: 10px !important;
}
.icono{
	font-size: 3em !important;
	position: inherit !important;
	color: #DB2C3B !important;
}

.subtitulo{
	font-size: 1em !important;
}

.alim-equipo{
	font-size: 1em !important;
}

.alim-equipo-text{
	margin: 0 1em;
}